@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  background-color: #5e4242;
}

#root {
  display: flex;
  align-items: center;
  width:100%;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #333;
  box-shadow: 0px 0px 15px gray;
}

.Header, .Footer {
  width: 100%;
  background-color: #ace6d4;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header h1 {
  font-size: 1.5rem;
}

.Header svg {
  font-size: 2rem;
}

.Footer {
  padding: 0.75rem;
  place-content: center;
}

.Nav {
  width: 100%;
  background-color: rgb(39, 40, 51);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.searchForm {
  width: 90%;
  padding: 0.5rem 0 0 0.75rem;
}

.searchForm input[type="text"] {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  min-height: 50px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  outline: none;
}


.Nav ul {
  color: rgb(243, 233, 233);
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.Nav li {
  padding: 1rem;
}

.Nav li:hover, 
.Nav li:focus {
  padding: 1rem;
}

.Nav li a {
  color: rgb(233, 214, 214);
  text-decoration: none;
}

.Nav li:hover, 
.Nav li:focus, 
.Nav li:hover a, 
.Nav li:focus a  {
  background-color: rgb(248, 239, 239);
  color: #333;
}

.Nav li:hover a, 
.Nav li:focus a {
  cursor: pointer;
}

.Home, .NewPost, .PostPage, .About, .Missing {
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: rgb(172, 174, 177);
}

.post {
  margin-top: 1rem;
  padding:0.5rem 1rem 1rem 1rem;
  border: 1px solid rgb(61, 59, 59);
  border-radius: 1.5rem;
  background-color: #ccddf7;
  box-shadow: 0.5rem 0.5rem 1rem rgb(107, 107, 172);
}

.Home .post a {
  text-decoration: none;
}

.Home .post a, 
.Home .post a:visited {
  color: #000;
}

.post:first-child {
  margin-top: 0;
}

.post:last-child {
  border-bottom: none;
}

.postDate {
  font-size: 0.75rem;
  margin-top: 0.25rem;
  color:rgb(56, 11, 11);
}

.postBody {
  margin: 1rem 0;
}

.newPostForm {
  display: flex;
  flex-direction: column;
}

.newPostForm label {
  margin-top: 1rem;
  font-weight:  bold;
}

.newPostForm input[type='text'], 
.newPostForm textarea {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  margin:0.5rem 1rem 1rem 0rem;
  outline: none;
  background-color: rgb(252, 249, 250);
  box-shadow: 0.5rem 0.5rem 1rem rgb(107, 107, 172);
}

.newPostForm textarea {
  height: 100px;

}

.newPostForm button {
  margin-top: 1rem;
  height: 48px;
  min-width: 48px;
  border-radius: 1.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: rgb(120, 134, 192);
  box-shadow: 2px 2px 2px 2px blue;
}
 
.Missing p, .PostPage p,.NewPost p {
  margin-bottom: 1rem;
}

.PostPage button {
  height: 48px;
  min-width: 48px;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-right:0.5rem;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}

.deleteButton{
  background-color: rgb(224, 109, 109);
  box-shadow: 2px 2px 2px 2px red;
}
.editButton{
  background-color: rgb(92, 180, 92);
  box-shadow: 2px 2px 2px 2px green;
}

.statusMsg {
  margin-top: 2rem;
}

@media only screen and (min-width: 610px) {
  html {
    font-size: 22px;
  }

  .Header h1 {
    font-size: 2rem;
  }

  .Nav {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .Nav ul {
    text-align: right;
  }

  .Nav li:hover, 
  .Nav li:focus, 
  .Nav li:hover a, 
  .Nav li:focus a  {
    background-color: #eee;
    color: #333;
  }

  .searchForm {
    width: 50%;
    padding: .5rem 0;
  }
 
  .searchForm input[type="text"] {
    margin-left: 0.5rem;
  }

  .newPostForm textarea {
    height: 300px;
  }
}

@media only screen and (min-width: 992px) {

  .Header svg {
    font-size: 3rem;
  }

}